New-ADOrganizationalUnit -Name "blue2"
New-ADOrganizationalUnit -Name "Accounts"
New-ADOrganizationalUnit -Name "Groups" 
New-ADOrganizationalUnit -Name "Computers" 
New-ADOrganizationalUnit -Name "Servers" 
New-ADOrganizationalUnit -Name "Workstations" 
New-ADOrganizationalUnit -Name "demotest" 
